<%
	total_alerts = measure('total_alerts')
	
	high_risk_level = measure('high_risk_level')
	medium_risk_level = measure('medium_risk_level')
	low_risk_level = measure('low_risk_level')
	info_risk_level = measure('info_risk_level')
	
	tooltip = message('widget.as_calculated_on_x', :params => l(@snapshot.created_at))
	
	if total_alerts
%>

	<div class="widget-row">
	
		<div class="widget-span widget-span-6">
			<div class="widget-measure-container">
				<p class="widget-measure widget-measure-main">
					<span class="widget-label">
						<%= message('zaproxy.widget.totalAlerts') -%>
					</span>
					<span class="nowrap">
						<a href="<%= url_for_drilldown('total_alerts') -%>" class="widget-link"
						title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
							<%= format_measure(total_alerts) -%>
						</a>
						<%= dashboard_configuration.selected_period? ? format_variation(total_alerts) : trend_icon(total_alerts) -%>
					</span>
				</p>
			</div>
		</div>
		
		<div class="widget-span widget-span-6">
			<table class="data widget-barchar">
				<tr>
					<td class="thin nowrap">
						<i class="icon-severity-critical"></i> <%= message('zaproxy.widget.riskLevel.high') -%>
					</td>
					<td class="thin right nowrap">
						<a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=
							<%= url_encode(@project.key) -%>#resolved=false|severities=CRITICAL|tags=<%= message('zaproxy.issueFilter.tag.zaproxy') -%>"
						class="widget-link drilldown_CRITICAL" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
							<%= format_measure(high_risk_level) -%>
						</a>
					</td>
					<td class="thin nowrap">
						<%= dashboard_configuration.selected_period? ? format_variation(high_risk_level) : trend_icon(high_risk_level, :empty => true) -%>
					</td>
				</tr>
				<tr>
					<td class="thin nowrap">
						<i class="icon-severity-major"></i> <%= message('zaproxy.widget.riskLevel.medium') -%>
					</td>
					<td class="thin right nowrap">
						<a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=
							<%= url_encode(@project.key) -%>#resolved=false|severities=MAJOR|tags=<%= message('zaproxy.issueFilter.tag.zaproxy') -%>"
						class="widget-link drilldown_MAJOR" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
							<%= format_measure(medium_risk_level) -%>
						</a>
					</td>
					<td class="thin nowrap">
						<%= dashboard_configuration.selected_period? ? format_variation(medium_risk_level) : trend_icon(medium_risk_level, :empty => true) -%>
					</td>
				</tr>
				<tr>
					<td class="thin nowrap">
						<i class="icon-severity-minor"></i> <%= message('zaproxy.widget.riskLevel.low') -%>
					</td>
					<td class="thin right nowrap">
						<a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=
							<%= url_encode(@project.key) -%>#resolved=false|severities=MINOR|tags=<%= message('zaproxy.issueFilter.tag.zaproxy') -%>"
						class="widget-link drilldown_MINOR" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
							<%= format_measure(low_risk_level) -%>
						</a>
					</td>
					<td class="thin nowrap">
						<%= dashboard_configuration.selected_period? ? format_variation(low_risk_level) : trend_icon(low_risk_level, :empty => true) -%>
					</td>
				</tr>
				<tr>
					<td class="thin nowrap">
						<i class="icon-severity-info"></i> <%= message('zaproxy.widget.riskLevel.info') -%>
					</td>
					<td class="thin right nowrap">
						<a href="<%= url_for(:controller => 'component_issues', :action => 'index') -%>?id=
							<%= url_encode(@project.key) -%>#resolved=false|severities=INFO|tags=<%= message('zaproxy.issueFilter.tag.zaproxy') -%>"
						class="widget-link drilldown_INFO" title="<%= tooltip -%>" data-toggle="tooltip" data-placement="bottom">
							<%= format_measure(info_risk_level) -%>
						</a>
					</td>
					<td class="thin nowrap">
						<%= dashboard_configuration.selected_period? ? format_variation(info_risk_level) : trend_icon(info_risk_level, :empty => true) -%>
					</td>
				</tr>
			</table>
		</div>
		
	</div>

<% end %>
